.sideQuickBtn{
    position:fixed; right:0; top:290px; width:50px; height:150px; z-index:100;
    background:#3897d8;
}
.QService{
    width:50px; height:50px; margin-bottom:50px; position:relative;
}
.QService:after{
    position:absolute; content:''; width:1px; height:30px; bottom:-41px; left:25px;
    background:#fff;
}
.QTop{
    width:50px; height:50px;
}

.sideQuickCont{
    overflow:hidden; position:fixed; right:0/* -500px */; top:0; height:calc(100% - 90px); width:340px; padding:50px 30px 40px 30px; z-index:100;
    background:#fff;
}
.SQ_cont{
    width:340px; height:100%; overflow-x:hidden;
}
.SQ_cont{
    scrollbar-face-color:#cacaca;
    scrollbar-arrow-color:#e3e3e3;
    scrollbar-track-color: #f1f1f1;
}
.SQ_cont::-webkit-scrollbar{
    width:2px;
    background-color:#f1f1f1;
}
.SQ_cont::-webkit-scrollbar-thumb{
    width:10px;
    background-color:#000;
}
.SQ_cont::-webkit-scrollbar-button{
    display:none;
}
.SQ_contInner{
    padding-right:20px; width:320px;
}

.sideQuickCont h2{
    font-size:28px; font-family:'Oswald', sans-serif; font-weight:500;
}
.sideQuickCont .SQ_close{
    position:absolute; right:30px; top:52px;
}

.sideQuickCont .SQ_cont{
    margin-top:30px;
}
.sideQuickCont .SQ_cont1{
    width:320px;
}
.sideQuickCont .SQ_cont1>img{
    width:320px;
}
.sideQuickCont .SQ_cont2{
    width:320px; display:block; margin-top:15px;
}
.sideQuickCont .SQ_cont2>img{
    width:320px;
}
.sideQuickCont .SQ_cont3{
    margin-top:15px; width:320px; *zoom:1;
}
.sideQuickCont .SQ_cont3:after{
    display:table; clear:both; content:'';
}
.sideQuickCont .SQ_cont3>li{
    float:left; width:50%;
}
.sideQuickCont .SQ_cont3>li>a{
    display:block; width:100%; height:80px; line-height:80px; text-align:center;
    background:#05548f; color:#fff; font-size:16px; text-decoration:none;
}
.sideQuickCont .SQ_cont3 .SQ_cont3-1{
    position:relative;
}
.sideQuickCont .SQ_cont3 .SQ_cont3-1:after{
    right:-0.5px; top:0; position:absolute; content:''; width:1px; height:80px;
    background:rgba(255,255,255,0.3);
}