@import url(base.css);
@import url(layout.css);
/* font-family:'Oswald', sans-serif; font-family:'Noto Sans SC', sans-serif; 
font-family: 'Roboto', sans-serif;*/

.slide{width:100%; margin:0 auto;}
.slick-list{overflow:hidden; width:100%}
.slick-track{}
.slick-slide{float:left;}

nav .gnbSub{
    display:none;
}

.container{
    padding-top:120px; max-width:1920px; margin:0 auto; width:100%; overflow:hidden;
}

.m_visual{
    position:relative; width:1920px;
    opacity:0; transform:translate(5px, -10px); -ms-transform:translate(5px, -10px); -webkit-transform:translate(5px, -10px);
    animation:ani_visual 0.5s ease-in-out 0.5s both;
}
@-webkit-keyframes ani_visual{
    from{opacity:0; transform:translate(5px, -10px); -ms-transform:translate(5px, -10px); -webkit-transform:translate(5px, -10px);}
    to{opacity:1; transform:translate(0); -ms-transform:translate(0); -webkit-transform:translate(0);}
}
@keyframes ani_visual{
    from{opacity:0; transform:translate(5px, -10px); -ms-transform:translate(5px, -10px); -webkit-transform:translate(5px, -10px);}
    to{opacity:1; transform:translate(0); -ms-transform:translate(0); -webkit-transform:translate(0);}
}


.m_visualSl_cont1>a, .m_visualSl_cont2>a, .m_visualSl_cont3>a, .m_visualSl_cont4>a{
    display:block; width:calc(100% - 162px); height:680px; padding:150px 0 0 162px;
    text-decoration:none; color:#fff;
}
.m_visualSl_cont1>a{
    background:url('../img/main/m_visualSl_cont1_bg.jpg') no-repeat;
}
.m_visualSl_cont2>a{
    background:url('../img/main/m_visualSl_cont2_bg.jpg') no-repeat;
}
.m_visualSl_cont3>a{
    background:url('../img/main/m_visualSl_cont3_bg.jpg') no-repeat;
}
.m_visualSl_cont4>a{
    background:url('../img/main/m_visualSl_cont4_bg.jpg') no-repeat;
}
.m_visualSl_cont1>a h2, .m_visualSl_cont2>a h2, .m_visualSl_cont3>a h2, .m_visualSl_cont4>a h2{
    opacity:0; margin-left:27px;
    font-size:60px; letter-spacing:-4px; line-height:75px;
}
article.m_visual .m_visualSl_cont1>a strong{
    display:block; opacity:0; margin-left:27px;
    color:#ebda11; font-size:60px; letter-spacing:-4px;
}
.m_visualSl_cont1>a span, .m_visualSl_cont2>a span, .m_visualSl_cont3>a span, .m_visualSl_cont4>a span{
    display:block; margin-top:73px; margin-left:27px; line-height:32px; opacity:0;
    font-size:21px;
}

.m_visual .slick-slide.slick-active a h2, .m_visual .slick-slide.slick-active a strong{
    animation:ani_visualT1 0.5s ease 0.5s both;
}
.m_visual .slick-slide.slick-active a span{
    animation:ani_visualT1 0.5s ease 0.8s both;
}
@-webkit-keyframes ani_visualT1{
    from{opacity:0; margin-left:27px;}
    to{opacity:1; margin-left:0;}
}
@keyframes ani_visualT1{
    from{opacity:0; margin-left:27px;}
    to{opacity:1; margin-left:0;}
}
@-webkit-keyframes ani_visualT2{
    from{opacity:0; margin-left:27px;}
    to{opacity:1; margin-left:0;}
}
@keyframes ani_visualT2{
    from{opacity:0; margin-left:27px;}
    to{opacity:1; margin-left:0;}
}

.m_visual .pauseBt{
    width:8px; height:12px; position:absolute; bottom:225px; left:162px; z-index:10; overflow:visible;
    background:url('../img/main/btn_pause.png') no-repeat;
}
.m_visual .pauseBt.pause{
    background:url('../img/main/btn_play.png') no-repeat;
}
.m_visual .slick-dots{
    *zoom:1; position:absolute; bottom:218px; opacity:0; left:220px;/* left:190px; */
}
.m_visual .slick-dots.ani_visualBt{
    animation:ani_visualBt 0.5s ease 0.9s both;
}
.m_visual .slick-dots:after{
    content:''; display:table; clear:both;
}
.m_visual .slick-dots>li{
    float:left; margin-right:60px;
}
.m_visual .slick-dots>li>button{
    overflow:visible; position:relative;
    font-size:20px; color:#b6b3b0; font-family:'Oswald', sans-serif;
}
.m_visual .slick-dots>li.slick-active>button{
    color:#fff;
}
.m_visual .slick-dots>li>button:after{
    content:''; display:block; width:6px; height:6px; position:absolute; top:calc(50% - 2px); left:42px;
    background:#b6b3b0; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
.m_visual .slick-dots>li#slick-slide03>button:after{
    width:160px; height:4px;
    border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
}

@-webkit-keyframes ani_visualBt{
    from{opacity:0; left:217px;}
    to{opacity:1; left:190px;}
}
@keyframes ani_visualBt{
    from{opacity:0; left:217px;}
    to{opacity:1; left:190px;}
}


.QNWrap{
    padding:60px 0 87px 160px; height:487px;
}


.m_quickMenu>ul{
    width:1470px;
}
.m_quickMenu>ul>li{
    display:inline-block; margin-right:80px;
}
.m_quickMenu>ul>li:last-child{
    margin:0;
}
.m_quickMenu>ul>li>a{
    display:block; text-align:center;
    text-decoration:none; color:#000; font-size:19px; font-weight:700;
}
.m_quickMenu>ul>li>a>img{
    display:block; margin:0 auto 23px;
}

.m_notice .m_notice_contSub{
    display:none;
}
.m_notice{
    margin-top:90px; position:relative;
}
.m_notice>h2{
    font-size:44px; font-family:'Oswald', sans-serif; font-weight:500;
}

.m_notice>ul{
    position:absolute; top:0; margin:7px 0 0 568px; width:525px;
}
.m_notice>ul>li{
    display:inline-block;
}
.m_notice>ul>li>a:first-child{
    margin-right:53px; position:relative;
    text-decoration:none; color:#8d8d8d; font-size:22px; font-weight:700;
}
.m_notice>ul>li:last-child>a:first-child{
    margin:0;
}
.m_notice>ul>li>a:first-child:after{
    content:''; display:block; width:6px; height:6px; position:absolute; top:calc(50% - 3px); right:-29.5px;
    background:#000; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
.m_notice>ul>li:last-child>a:first-child:after{
    display:none;
}
.m_notice>ul>li>.m_notice_contSub{
    display:none; position:absolute; top:85px; left:-568px; width:1500px;
}
.m_notice>ul>li>a.onN{
    color:#977749;
}

.m_notice .m_notice_contSub>li{
    display:inline-block; width:320px; margin-right:40px;
}
.m_notice .m_notice_contSub>li:last-child{
    margin:0;
}
.m_notice .m_notice_contSub>li>a{
    width:100%;
    text-decoration:none; color:#000;
}
.m_notice .m_notice_contSub>li>a>h3{
    height:75px; overflow:hidden; margin-bottom:42px; transform:translateY(40px); -ms-transform:translateY(40px); -webkit-transform:translateY(40px);
    opacity:0; font-size:28px; line-height:40px;
}
.m_notice .m_notice_contSub>li>a>h3.ani_noticeT{
    animation:ani_noticeT 0.3s ease 0s both;
}
.m_notice .m_notice_contSub>li>a>span{
    opacity:0; line-height:28px; display:block; height:50px; overflow:hidden; transform:translateY(40px); -ms-transform:translateY(40px); -webkit-transform:translateY(40px);
}
.m_notice .m_notice_contSub>li>a>span.ani_noticeT{
    animation:ani_noticeT 0.3s ease 0.1s both;
}
.m_notice .m_notice_contSub>li>a>p{
    margin-top:29px;
    color:#9498a8;
}

@-webkit-keyframes ani_noticeT{
    from{opacity:0; transform:translateY(40px); -webkit-transform:translateY(40px); -ms-transform:translateY(40px);}
    to{opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0);}
}
@keyframes ani_noticeT{
    from{opacity:0; transform:translateY(40px); -webkit-transform:translateY(40px); -ms-transform:translateY(40px);}
    to{opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0);}
}

.m_notice .moreBt{
    display:none; width:30px; height:30px; position:absolute; top:3px; right:-350px;
    background:url('../img/main/btn_plus_gray.png') no-repeat; text-decoration:none;
}


.m_calender{
    height:260px; width:100%; margin-top:87px; position:relative;
    background:url('../img/main/m_calender_bg.png') no-repeat #000f20 right bottom 100%;
}
.m_calender>div{
    display:inline-block; margin:78px 0 0 162px;
}
.m_calender>div>span{
    line-height:47px; position:relative;
    font-size:40px; color:#fff;
}
.m_calender>div>span:after{
    content:''; display:block; width:150px; height:1px; position:absolute; bottom:25px; left:168px;
    background:#fff;
}
.m_calender>div>h2{
    font-size:50px; color:#fff;
}

.m_calender>ul{
    width:1322px; display:inline-block; position:absolute; top:85px; left:600px;
}
.m_calender>ul .slick-slide{
    display:block; margin-right:30px; 
}
.m_calender>ul .slick-slide:last-child{
    margin:0;
}
.m_calender>ul h3{
    font-size:33px; color:#fff;
}
.m_calender>ul span{
    display:block; margin-top:34px; 
    font-size:17px; color:#fff;
}

.m_calender .moreBt{
    display:block; width:30px; height:30px; position:absolute; right:35px; top:75px;
    background:url('../img/main/btn_plus_white.png') no-repeat;
}


.m_inside{
    padding:106px 0 0 163px; width:1757px; height:704px; position:relative; z-index:10;
}
.m_inside>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500;
}

.m_insideSl_t{
    width:710px; position:relative;
}
.m_insideSl_t a{
    display:block; margin-top:68px; height:250px;
    text-decoration:none; color:#000;
}
.m_insideSl_t a>h3{
    line-height:74px; width:685px; margin-bottom:50px;
    font-size:58px; font-weight:500; letter-spacing:-4px;
    opacity:0; padding-left:100px;
}
.m_insideSl_t a>span{
    display:-webkit-box; -webkit-line-clamp:2; -webkit-bob-orient:vertical; 
    width:710px; max-height:53px; overflow:hidden; line-height:28px;
    font-size:20px; letter-spacing:-2px;
    opacity:0; padding-left:100px;
}
.m_insideSl_t.ani_inside a>h3{
    animation:ani_inside_t 0.5s ease 0.3s both;
}
.m_insideSl_t.ani_inside a>span{
    animation:ani_inside_t 0.5s ease 0.5s both;
}
@-webkit-keyframes ani_inside_t{
    from{opacity:0; padding-left:100px;}
    to{opacity:1; padding-left:0;}
}
@keyframes ani_inside_t{
    from{opacity:0; padding-left:100px;}
    to{opacity:1; padding-left:0;}
}

.m_insideSl_t .slick-arrow{
    display:block; width:15px; height:28px; overflow:hidden; position:absolute; top:-35px;
    text-indent:-9999px;
}
.m_insideSl_t .slick-prev{
    background:url('../img/main/arrL_gray.png') no-repeat; left:257px; 
}
.m_insideSl_t .slick-prev:hover{
    background:url('../img/main/arrL_black.png') no-repeat;
}
.m_insideSl_t .slick-next{
    background:url('../img/main/arrR_gray.png') no-repeat; left:287px;
}
.m_insideSl_t .slick-next:hover{
    background:url('../img/main/arrR_black.png') no-repeat;
}

.m_insideSl_m{
    width:960px; height:660px; position:absolute; bottom:46px; right:0; opacity:0;
}
.m_insideSl_m:after{
    content:''; display:block; width:560px; height:4px; position:absolute; right:0; bottom:-50px; opacity:0;
    background:#b5926f;
}
.m_insideSl_m.ani_inside{
    animation:opa01 0.7s ease 0s both;
}
.m_insideSl_m.ani_inside:after{
    animation:opa01 0.7s ease 0s both;
}
.m_insideSl_m a{
    display:block; width:100%; height:100%;
}
.m_insideSl_m a>img{
    width:100%; height:660px;
}


.m_insideSl_s{
    width:745px; height:286px; position:absolute; bottom:0; left:163px;
}
.m_insideSl_s a{
    display:block; width:350px;
    text-decoration:none; color:#000;
}
.m_insideSl_s a>h3{
    margin-top:20px; width:350px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
    font-size:22px; font-weight:600;
}
.m_insideSl_s a>img{
    width:350px; height:240px;
}
.m_insideSl_s .slick-slide:nth-child(3), .m_insideSl_s .slick-slide:nth-child(4){
    opacity:0;
}

.m_insideSl_s.ani_inside .slick-slide:nth-child(3){
    animation:opa01 1s ease 0.8s both;
}
.m_insideSl_s.ani_inside .slick-slide:nth-child(4){
    animation:opa01 1s ease 1s both;
}


.m_storyBn{
    margin-top:84px; width:1920px; position:relative; height:550px;
}

.m_storyBn a{
    display:block; height:444.5px; width:100%; padding:105.5px 0 0 162px; opacity:0;
    text-decoration:none; color:#fff;
}
.m_storyBn a.ani_storyBnA{
    opacity:1;
}
.m_storyBn.ani_storyBn a{
    animation:opa01 0.5s ease 0s both;
}
.m_storyBn .m_storyBnSl_cont1>a{
    background:url('../img/main/m_storyBnSl_cont1_bg.jpg') no-repeat;
}
.m_storyBn .m_storyBnSl_cont2>a{
    background:url('../img/main/m_storyBnSl_cont2_bg.jpg') no-repeat;
}
.m_storyBn a>h2{
    font-size:53px; line-height:70px; opacity:0;
}
.m_storyBn a>h2>span{
    color:#ddad69; font-weight:500; opacity:0;
}
.m_storyBn .m_storyBnSl_cont2 a>h2>span{
    font-weight:700; opacity:0;
}
.m_storyBn a>span{
    display:block; margin-top:50px; opacity:0;
    font-size:17px; line-height:29px;
}
.m_storyBn.ani_storyBn a>h2{
    animation:opa01 0.5s ease 0.2s both;
}
.m_storyBn a>h2.ani_storyBnA{
    animation:opa01 0.5s ease 0s both;
}
.m_storyBn.ani_storyBn a>h2>span{
    animation:opa01 0.5s ease 0.2s both;
}
.m_storyBn a>h2>span.ani_storyBnA{
    animation:opa01 0.5s ease 0s both;
}
.m_storyBn.ani_storyBn a>span{
    animation:opa01 0.5s ease 0.4s both;
}
.m_storyBn a>span.ani_storyBnA{
    animation:opa01 0.5s ease 0.2s both;
}

.m_storyBn .slick-dots{
    position:absolute; bottom:124px; left:20px; overflow:hidden; width:110px; height:18px;
    opacity:0; 
}
.m_storyBn .slick-dots>li{
    float:left; 
}
.m_storyBn .slick-dots>li:first-child{
    margin-right:10px;
}
.m_storyBn .slick-dots button{
    display:block; text-indent:-9999px; width:50px; height:18px; overflow:hidden; position:relative;
}
.m_storyBn .slick-dots button:after{
    content:''; display:block; width:50px; height:4px; position:absolute; top:7px; left:0;
    background:#898b95;
}
.m_storyBn .slick-dots>li.slick-active button:after{
    background:#fff;
}

.m_storyBn.ani_storyBn .slick-dots{
    animation:storyDot 0.5s ease 0.4s both;
}
.m_storyBn .slick-dots.ani_storyBnA{
    animation:storyDot 0.5s ease 0.2s both;
}
@-webkit-keyframes storyDot{
    from{opacity:0; left:20px;}
    to{opacity:1; left:160px;}
}
@keyframes storyDot{
    from{opacity:0; left:20px;}
    to{opacity:1; left:160px;}
}


.m_story{
    padding:86px 0 0 160px; width:1760px; height:703px; position:relative;
}
.m_story:after{
    content:''; display:block; width:910px; height:4px; position:absolute; bottom:0; right:0;
    background:#b5926f;
}
.m_story>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500;
}

.m_storySl_m{
    width:800px; height:610px; margin-top:49px; position:relative;
}
.m_story .m_storySl_m .slick-list{
    opacity:0; transform:translateX(-200px); -webkit-transform:translateX(-200px); -ms-transform:translateX(-200px);
}
.m_story.ani_story .m_storySl_m .slick-list{
    animation:ani_story_m 0.5s ease-in-out 0s both;
}
@-webkit-keyframes ani_story_m{
    from{opacity:0; transform:translateX(-200px); -webkit-transform:translateX(-200px); -ms-transform:translateX(-200px);}
    to{opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -ms-transform:translateX(0);}
}
@keyframes ani_story_m{
    from{opacity:0; transform:translateX(-200px); -webkit-transform:translateX(-200px); -ms-transform:translateX(-200px);}
    to{opacity:1; transform:translateX(0); -webkit-transform:translateX(0); -ms-transform:translateX(0);}
}
.m_storySl_m a{
    display:block; width:800px; height:610px; position:relative;
    text-decoration:none;
}
.m_storySl_m .m_storySl_cont1 a{
    background:#fff url('../img/main/m_storySl_cont1_bg.jpg') center no-repeat;
}
.m_storySl_m .m_storySl_cont2 a{
    background:#fff url('../img/main/m_storySl_cont2_bg.jpg') center no-repeat;
}
.m_storySl_m .m_storySl_cont3 a{
    background:#fff url('../img/main/m_storySl_cont3_bg.jpg') center no-repeat;
}
.m_storySl_m .m_storySl_cont4 a{
    background:#fff url('../img/main/m_storySl_cont4_bg.jpg') center no-repeat;
}
.m_storySl_m .m_storySl_cont5 a{
    background:#fff url('../img/main/m_storySl_cont5_bg.jpg') center no-repeat;
}
.m_storySl_m .m_storySl_cont6 a{
    background:#fff url('../img/main/m_storySl_cont6_bg.jpg') center no-repeat;
}
.m_storySl_m a:after{
    content:''; display:block; width:800px; height:610px; position:absolute; top:0; left:0;
    background:rgba(0,0,0,0.4);
}
.m_storySl_m a>h3{
    line-height:58px; position:absolute; bottom:90px; z-index:10; width:720px; padding:0 40px 0;
    font-size:44px; color:#fff; text-align:center; font-weight:500;
}


.m_storySl_m .slick-arrow{
    display:block; position:absolute; top:-83px; width:15px; height:28px;
    text-indent:9999px; overflow:hidden;
}
.m_storySl_m .slick-prev{
    left:260px;
    background:url('../img/main/arrL_gray.png') no-repeat;
}
.m_storySl_m .slick-next{
    left:290px;
    background:url('../img/main/arrR_gray.png') no-repeat;
}
.m_storySl_m .slick-prev:hover{
    background:url('../img/main/arrL_black.png') no-repeat;
}
.m_storySl_m .slick-next:hover{
    background:url('../img/main/arrR_black.png') no-repeat;
}

.m_storySl_s{
    position:absolute; top:185px; left:1015px; width:1115px; height:540px; overflow:hidden;
}
.m_storySl_s .slick-slide{
    width:530px; height:540px; margin-right:55px; display:inline-block;
}
.m_storySl_s .m_storySl_cont2, .m_storySl_s .m_storySl_cont3{
    opacity:0; transform:translateY(150px); -webkit-transform:translateY(150px); -ms-transform:translateY(150px);
}
.m_story.ani_story .m_storySl_s .m_storySl_cont2{
    animation:ani_story_s 0.5s ease-in-out 0.3s both;
}
.m_story.ani_story .m_storySl_cont3{
    animation:ani_story_s 0.5s ease-in-out 0.5s both;
}
@-webkit-keyframes ani_story_s{
    from{opacity:0; transform:translateY(150px); -webkit-transform:translateY(150px); -ms-transform:translateY(150px);}
    to{opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0);}
}
@keyframes ani_story_s{
    from{opacity:0; transform:translateY(150px); -webkit-transform:translateY(150px); -ms-transform:translateY(150px);}
    to{opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0);}
}
.m_storySl_s a{
    display:block; width:530px; height:540px; margin-right:55px;
    text-decoration:none; color:#000;
}
.m_storySl_s a>img{
    display:block; width:530px; height:430px;
}
.m_storySl_s a>h3{
    line-height:40px; margin-top:38px;
    font-size:24px;
}


.m_insight{
    margin-top:100px; padding:100px 0 0 160px; height:765px; width:1760px; position:relative; z-index:1;
    background:#141f31;
}
.m_insight:after{
    content:''; display:block; width:560px; height:4px; position:absolute; bottom:100px; right:130px;
    background:#fff;
}
.m_insight>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500; color:#b08b55;
}
.m_insightSl_m{
    width:1020px;
}
.m_insightSl_m a{
    display:block; width:1020px; height:545px; position:relative; padding-top:70px;
    text-decoration:none; color:#fff;
}
.m_insightSl_m a>h3{
    line-height:78px; width:475px;
    font-size:61px; font-weight:300;
    opacity:0; padding-top:30px;
}
.m_insight.ani_insight .m_insightSl_m a>h3{
    animation:ani_insight_mt 0.5s ease 0.2s both;
}
.m_insightSl_m a>p{
    margin-top:35px;
    font-size:20px; font-weight:600;
    opacity:0; padding-top:30px;
}
.m_insight.ani_insight .m_insightSl_m a>p{
    animation:ani_insight_mt 0.5s ease 0.2s both;
}
.m_insightSl_m a>span{
    display:block; line-height:30px; margin-top:47px; width:475px;
    font-size:19px;
    opacity:0; padding-top:30px;
}
.m_insight.ani_insight .m_insightSl_m a>span{
    animation:ani_insight_mt 0.5s ease 0.4s both;
}
@-webkit-keyframes ani_insight_mt{
    from{padding-top:30px; opacity:0;}
    to{padding-top:0; opacity:1;}
}
@keyframes ani_insight_mt{
    from{padding-top:30px; opacity:0;}
    to{padding-top:0; opacity:1;}
}
.m_insightSl_m a>img{
    display:block; position:absolute; right:0; top:-45px; width:470px; height:660px;
    opacity:0; padding-right:100px;
}
.m_insight.ani_insight .m_insightSl_m a>img{
    animation: ani_insight_mimg 0.5s ease 0s both;
}
@-webkit-keyframes ani_insight_mimg{
    0%{padding-right:100px; opacity:0;}
    100%{padding-right:0; opacity:1;}
}
@keyframes ani_insight_mimg{
    0%{padding-right:100px; opacity:0;}
    100%{padding-right:0; opacity:1;}
}

.m_insightSl_m .slick-arrow{
    display:block; width:15px; height:28px; overflow:hidden; position:absolute; top:114px;
    text-indent:-9999px;
}
.m_insightSl_m .slick-prev{
    background:url('../img/main/arrL_gray.png') no-repeat; left:450px; 
}
.m_insightSl_m .slick-prev:hover{
    background:url('../img/main/arrL_white.png') no-repeat;
}
.m_insightSl_m .slick-next{
    background:url('../img/main/arrR_gray.png') no-repeat; left:480px;
}
.m_insightSl_m .slick-next:hover{
    background:url('../img/main/arrR_white.png') no-repeat;
}

.m_insightSl_s{
    position:absolute; top:150px; right:130px; width:560px; height:656px;
}
.m_insightSl_s .slick-slide{
    width:240px;
}
.m_insightSl_s .slick-slide.m_insight_cont2, .m_insightSl_s .slick-slide.m_insight_cont3{
    padding-top:70px; opacity:0;
}
.m_insight.ani_insight .m_insightSl_s .slick-slide.m_insight_cont2{
    animation:ani_insight_s 0.5s ease-in-out 0.6s both;
}
.m_insight.ani_insight .m_insightSl_s .slick-slide.m_insight_cont3{
    animation:ani_insight_s 0.5s ease-in-out 0.9s both;
}
@-webkit-keyframes ani_insight_s{
    from{opacity:0; padding-top:70px;}
    to{opacity:1; padding-top:0;}
}
@keyframes ani_insight_s{
    from{opacity:0; padding-top:70px;}
    to{opacity:1; padding-top:0;}
}
.m_insightSl_s a{
    display:block; width:240px;
    text-decoration:none; color:#fff;
}
.m_insightSl_s a>img{
    width:240px; height:340px;
}
.m_insightSl_s a>h3{
    margin-top:40px; position:relative;
    font-size:18px;
}
.m_insightSl_s a>h3:after{
    content:''; display:block; width:30px; height:1px; position:absolute; left:0; bottom:-31px;
    background:#fff;
}
.m_insightSl_s a>span{
    display:block; width:240px; line-height:26px; margin-top:60px; height:52px; overflow:hidden;
    font-size:16px; 
}


.m_report{
    max-width:1920px; width:100%; overflow:hidden;
    color:#fff;
}

.m_report .report_cont{
    width:calc(65% - 160px); height:948px; padding:110px 0 0 160px; float:left;
    background:#032a58;
}
.report_cont>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500; color:#b08b55;
}
.report_cont>div{
    width:30%; height:655px; display:inline-block; margin-top:110px;
}

.report_cont .report_cont1>div{
    width:104px; height:124px;
    background:url('../img/main/report_cont1.png') center no-repeat;
}
.report_cont .report_cont2>div{
    width:128px; height:127px;
    background:url('../img/main/report_cont2.png') no-repeat;
}
.report_cont .report_cont3>div{
    width:124px; height:125px;
    background:url('../img/main/report_cont3.png') no-repeat;
}
.report_cont>div>h4{
    margin-top:130px;
    font-size:28px; 
}
.report_cont>div>span{
    display:block; margin-top:47px; position:relative; height:70px;
    font-family:'Oswald', sans-serif; font-size:68px; font-weight:200;
}
.report_cont>div>span:after{
    content:''; display:block; width:50px; height:1px; position:absolute; bottom:-65px; left:0;
    background:#fff;
}
.report_cont>div>p{
    margin-top:127px;
    font-size:22px; line-height:34px; width:330px;
}

.m_report .awards_cont{
    width:calc(35% - 50px); height:948px; padding:110px 0 0 50px; float:left;
    background:#02336e url('../img/main/awards_cont_bg.png') bottom/cover no-repeat;
}
.awards_cont>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500; color:#fff;
}
.awards_cont>div>div{
    width:121px; height:122px; margin-top:108px;
    background:url('../img/main/awards_cont1.png') no-repeat;
}
.awards_cont>div>h4{
    margin-top:121px; position:relative;
    font-size:62px; font-family:'Oswald', sans-serif; font-weight:300;
}
.awards_cont>div>h4:after{
    content:''; display:block; width:50px; height:1px; position:absolute; bottom:-70px; left:0;
    background:#fff;
}
.awards_cont>div>p{
    margin-top:138px; line-height:32px;
    font-size:18px;
}


.m_explore{
    padding:86px 0 105px 160px; width:1760px; 
}
.m_explore>h2{
    font-size:50px; font-family:'Oswald', sans-serif; font-weight:500;
}

.m_explore_cont{
    *zoom:1; margin-top:55px; position:relative; height:625px; width:1760px;
}
.m_explore_cont:after{
    content:''; display:table; clear:both;
}
.m_explore_cont>li{
    float:left;
}
.m_explore_cont>li:first-child>button{
    margin-right:54px; position:relative;
}
.m_explore_cont>li:first-child>button:after{
    content:''; display:block; width:6px; height:6px; position:absolute; top:15px; right:-29px;
    background:#000; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
.m_explore_cont>li>button{
    display:block; position:relative;
    font-size:26px; color:#8d8d8d; font-weight:700;
}
.m_explore_cont>li>button.onE{
    color:#977749;
}
.m_explore_cont>li>button.onE:before{
    content:''; display:block; width:100px; height:3px; position:absolute; bottom:-10px; left:1px;
    background:#977749;
}

.m_explore .m_explore_paging{
    width:80px; height:26px; position:absolute; top:0; right:190px;
    color:#bbbbbb; font-size:24px; font-family:'Oswald', sans-serif;
}
.m_explore .m_explore_paging:after{
    content:''; display:block; width:160px; height:4px; position:absolute; top:10px; left:110px;
    background:#bbbbbb;
}
.m_explore .m_explore_paging .totalPage{
    width:50px; display:inline-block;
}
.m_explore .m_explore_paging .currentPage{
    width:20px; display:inline-block;
    color:#000;
}

.m_explore_cont .m_exploreSl{
    display:none; position:absolute; top:67px; height:545px; left:0; width:2200px; margin-right:500px;
}
.m_explore_cont .m_exploreSl:after{
    content:''; display:block; position:absolute; right:0; top:0; width:500px; height:400px;
}
.m_explore_cont .m_exploreSl .slick-list{
    width:2200px;
}
.m_explore_cont .m_exploreSl .slick-slide{
    width:500px; margin-right:50px;
}

.m_exploreSl_1-1, 
.m_exploreSl_1-2, 
.m_exploreSl_1-3, 
.m_exploreSl_1-4{
    margin-top:80px; opacity:0;
}
.m_explore.ani_explore .m_exploreSl_1-1{
    animation:ani_explore 0.3s ease 0s both;
}
.m_explore.ani_explore .m_exploreSl_1-2{
    animation:ani_explore 0.3s ease 0.2s both;
}
.m_explore.ani_explore .m_exploreSl_1-3{
    animation:ani_explore 0.3s ease 0.4s both;
}
.m_explore.ani_explore .m_exploreSl_1-4{
    animation:ani_explore 0.3s ease 0.6s both;
}
@-webkit-keyframes ani_explore{
    from{opacity:0; margin-top:80px;}
    to{opacity:1; margin-top:0;}
}
@keyframes ani_explore{
    from{opacity:0; margin-top:80px;}
    to{opacity:1; margin-top:0;}
}

.m_explore_cont .m_exploreSl a{
    display:block; width:500px; height:545px;
    text-decoration:none; color:#000;
}
.m_explore_cont .m_exploreSl a>p{
    width:500px; height:450px; text-align:center; line-height:450px;
    color:#fff; font-size:40px; font-weight:600;
}
.m_explore_cont .m_exploreSl_1-1 a>p{
    background:url('../img/main/m_explore_1-1.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-2 a>p{
    background:url('../img/main/m_explore_1-2.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-3 a>p{
    background:url('../img/main/m_explore_1-3.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-4 a>p{
    background:url('../img/main/m_explore_1-4.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-5 a>p{
    background:url('../img/main/m_explore_1-5.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-6 a>p{
    background:url('../img/main/m_explore_1-6.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-7 a>p{
    background:url('../img/main/m_explore_1-7.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-8 a>p{
    background:url('../img/main/m_explore_1-8.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-9 a>p{
    background:url('../img/main/m_explore_1-9.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_1-10 a>p{
    background:url('../img/main/m_explore_1-10.jpg') no-repeat;
}

.m_explore_cont .m_exploreSl_2-1 a>p{
    background:url('../img/main/m_explore_2-1.png') no-repeat;
}
.m_explore_cont .m_exploreSl_2-2 a>p{
    background:url('../img/main/m_explore_2-2.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_2-3 a>p{
    background:url('../img/main/m_explore_1-6.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_2-4 a>p{
    background:url('../img/main/m_explore_2-4.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_2-5 a>p{
    background:url('../img/main/m_explore_2-5.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_2-6 a>p{
    background:url('../img/main/m_explore_2-6.jpg') no-repeat;
}
.m_explore_cont .m_exploreSl_2-7 a>p{
    background:url('../img/main/m_explore_1-9.jpg') no-repeat;
}

.m_explore_cont .m_exploreSl a>span{
    display:block; margin-top:38px; width:500px;
    font-size:17px; line-height:28px;
}

.m_exploreSl>button.slick-arrow{
    width:60px; height:60px; overflow:hidden; position:absolute; top:200px;
    text-indent:-9999px; opacity:0;
}
.m_explore_cont:hover button.slick-arrow{
    opacity:1;
}
.m_exploreSl .slick-prev{
    background:url('../img/main/btn_cirPrev_gray.png') no-repeat; left:-110px;
}
.m_exploreSl .slick-next{
    background:url('../img/main/btn_cirNext_gray.png') no-repeat; left:1600px;
}
.m_exploreSl .slick-dots{
    display:none !important;
}


.f_go_cont1{
    display:none;
}
footer .f_go{
    width:100% 
}
footer .f_go .f_go_btn{
    *zoom:1; height:50px;
}
footer .f_go .f_go_btn:after{
    content:''; display:table; clear:both;
}
footer .f_go .f_go_btn>li{
    width:50%; float:left; position:relative;
    background:#000f20;;
}
footer .f_go .f_go_btn>li.onFG{
    background:#05548f;
}
footer .f_go .f_go_btn>li>button{
    padding-left:10px; width:590px; height:50px; text-align:left; line-height:50px;
    color:#fff; font-size:16px; background:url('../img/main/ico_quickOff.png') right 30px center no-repeat;
}
footer .f_go .f_go_btn>li>button.onFG{
    background:url('../img/main/ico_quickOn.png') right 30px center no-repeat;
}
footer .f_go .f_go_btn>li:first-child>button{
    float:right;
}
footer .f_go .f_go_btn>li:last-child>button{
    float:left;
}

.f_go_cont{
    width:100%; display:none;
    background:#05548f;
}
.f_go_cont1>ul{
    *zoom:1; margin:0 auto; width:1200px; padding:50px 0 50px;
}
.f_go_cont1>ul:after{
    content:''; display:table; clear:both;
}
.f_go_cont1>ul>li{
    float:left; width:600px;
}
.f_go_cont1>ul>li>h2{
    position:relative; margin-bottom:20px;
    font-size:25px; color:#e2b758;
}
.f_go_cont1>ul>li>h2:after{
    content:''; display:block; width:50px; height:2px; position:absolute; left:0; bottom:-26px; 
    background:#e2b758;
}
.f_go_cont1 .f_cont1_list>li{
    display:inline-block; width:130px; margin:30px 50px 0 0;
}
.f_go_cont1 .f_cont1_list-2>li{
    width:150px; margin-right:20px;
}
.f_go_cont1 .f_cont1_list span{
    font-size:18px; color:#78BCEE; font-weight:600;
}
.f_go_cont1 .f_cont1_list ol>li>a{
    display:block; padding:10px 0 0 0;
    text-decoration:none; color:#fff; font-size:15px;
}

.f_go_cont2>ul{
    margin:0 auto; width:1200px; padding:100px 0 100px;
}
.f_go_cont2>ul>li{
    display:inline-block; width:190px; height:54px; margin-right:5px;
}
.f_go_cont2>ul>li>a{
    display:block; width:100%; height:100%;
    text-decoration:none; color:#fff; font-size:18px;
}
.f_go_cont2>ul>li>a>p{
    width:64px; height:54px; display:inline-block; margin-right:8px;
}
.f_go_cont2>ul>li:nth-child(1)>a>p{
    background:url('../img/main/f_go_cont2-1.png') left no-repeat;
}
.f_go_cont2>ul>li:nth-child(2)>a>p{
    background:url('../img/main/f_go_cont2-2.png') left no-repeat;
}
.f_go_cont2>ul>li:nth-child(3)>a>p{
    background:url('../img/main/f_go_cont2-3.png') left no-repeat;
}
.f_go_cont2>ul>li:nth-child(4)>a>p{
    background:url('../img/main/f_go_cont2-4.png') left no-repeat;
}
.f_go_cont2>ul>li:nth-child(5)>a>p{
    background:url('../img/main/f_go_cont2-5.png') left no-repeat;
}
.f_go_cont2>ul>li:nth-child(6)>a>p{
    background:url('../img/main/f_go_cont2-6.png') left no-repeat;
}
.f_go_cont2>ul>li>a>span{
    line-height:54px;
}

.footer{
    width:100%;
    background:#1b293a;
}
.footer .footerInner{
    width:1200px; margin:0 auto;
}
.footer .footerInner .guide{
    height:50px;
    border-bottom:1px solid #4d4d4d;
}
.footer .footerInner .guide>li{
    display:inline-block; margin-right:13px;
}
.footer .footerInner .guide>li:first-child>a{
    color:#42b5ff;
}
.footer .footerInner .guide a{
    display:block; line-height:50px;
    text-decoration:none; color:#fff; font-size:14px;
}

.footerInner .footer_cont{
    padding:50px 0 30px 0;
}
.footerInner .footer_cont>.f_logo{
    display:inline-block; margin-right:35px;
}
.footerInner .footer_cont>div{
    display:inline-block;
}
.footerInner .footer_cont address{
    width:800px;
    font-style:normal; color:#7e868f; font-size:14px; letter-spacing:0;
}
.footerInner .footer_cont address>span{
    display:inline-block; margin-right:15px; line-height:25px;
}
.footerInner .footer_cont .copyright{
    color:#7e868f; font-size:14px; letter-spacing:0; line-height:25px;
}
.footerInner .footer_cont .f_sns>li{
    display:inline-block; margin:47px 28px 0 0;
}

@-webkit-keyframes opa01{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes opa01{
    from{opacity:0;}
    to{opacity:1;}
}

@media (max-width:1760px){
    .m_quickMenu>ul>li{
        margin-right:4vw;
    }

    .m_notice>ul{
        margin:7px 0 0 30vw;
    }
    .m_notice>ul>li>.m_notice_contSub{
        left:-30vw; width:104vw;
    }
    .m_notice .m_notice_contSub>li{
        width:19vw;
    }
    .m_notice .moreBt{
        top:3px; right:-170px;
    }

    .m_calender>ul{
        width:900px;
    }
    .m_calender>ul .slick-slide{
        margin-right:20px; 
    }
/*  */
    .m_inside{
        height:604px; width:calc(100% - 106px);
    }
    .m_insideSl_t{
        max-width:30vw;
    }
    .m_insideSl_t a{
        margin-top:43px;
    }
    .m_insideSl_t a>h3{
        max-width:30vw; line-height:63px; margin-bottom:25px;
        font-size:49px; font-weight:400;
    }
    .m_insideSl_t a>span{
        display:block; max-width:30vw; height:30px; overflow:hidden;
        text-overflow:ellipsis; white-space:nowrap;
    }

    .m_insideSl_m{
        width:720px; height:405px; bottom:100px;
    }
    .m_insideSl_m:after{
        bottom:-104px;
    }
    .m_insideSl_m a>img{
        height:405px;
    }

    .m_insideSl_s{
        width:561px; height:200px; left:10vw;
    }
    .m_insideSl_s a{
        width:263px;
    }
    .m_insideSl_s a>h3{
        width:263px;
        font-size:18px;
    }
    .m_insideSl_s a>img{
        width:263px; height:175px;
    }
    
    .report_cont>div>p{
        width:90%;
    }

    .m_exploreSl .slick-next{
        left:80vw;
    }
    .m_explore .m_explore_paging{
        left:75vw;
    }
}

@media (max-width:1200px){
    .container{
        min-width:1200px;
    }

    .QNWrap{
        padding:60px 0 87px 30px;
    }

    .m_quickMenu>ul>li{
        margin-right:40px;
    }

    .m_notice>ul{
        margin:7px 0 0 400px;
    }
    .m_notice>ul>li>.m_notice_contSub{
        left:-400px; width:1100px;
    }
    .m_notice .m_notice_contSub>li{
        width:320px;
    }
    .m_notice .m_notice_contSub>li:last-child{
        display:none;
    }
    
    .m_calender{
        width:1200px;
    }
    .m_calender>div{
        display:inline-block; margin:78px 0 0 30px;
    }

    .m_calender>ul{
        width:750px; left:400px;
    }
    .m_calender>ul .slick-slide{
        margin-right:20px; 
    }

    .m_inside{
        padding:78px 0 0 30px; height:1350px; width:1170px;
    }
    .m_insideSl_t{
        max-width:100%; width:100%; position:absolute; top:830px; 
    }
    .m_insideSl_t a{
        height:100%; margin-top:30px;
    }
    .m_insideSl_t a>h3{
        max-width:100%; width:650px; line-height:45px;
        font-size:38px;
    }
    .m_insideSl_t a>span{
        max-width:100%; width:1000px; overflow:visible; height:60px;
        white-space:normal;
    }

    .m_insideSl_t .slick-arrow{
        top:-737px;
    }
    .m_insideSl_t .slick-prev{
        left:270px;
    }
    .m_insideSl_t .slick-next{
        left:300px;
    }

    .m_insideSl_m{
        width:1170px; height:660px; top:150px;
    }
    .m_insideSl_m:after{
        bottom:-88px; width:500px;
    }
    .m_insideSl_m a>img{
        width:1170px; height:660px;
    }

    .m_insideSl_s{
        width:1170px; height:370px; left:30px; top:1060px;
    }
    .m_insideSl_s a{
        width:567.5px; position:relative;
    }
    .m_insideSl_s a>h3{
        width:567.5px; position:absolute; bottom:10px; left:15px;
        color:#fff;
    }
    .m_insideSl_s a>img{
        width:567.5px; height:370px;
    }

    .m_story{
        padding:82px 0 0 66px; width:1134px; height:528px;
    }
    .m_story:after{
        width:520px; bottom:0;
    }

    .m_storySl_m{
        width:567px; height:430px;
    }
    .m_storySl_m a{
        width:567px; height:430px;
    }
    .m_storySl_m a:after{
        width:567px; height:430px; 
    }
    .m_storySl_m a>h3{
        line-height:45px; bottom:45px; width:507px; padding:0 30px 0;
        font-size:33px;
    }

    .m_storySl_s{
        top:180px; left:680px; width:807px; height:430px;
    }
    .m_storySl_s .slick-slide{
        width:376px; height:430px;
    }
    .m_storySl_s a{
        width:376px; height:306px;
    }
    .m_storySl_s a>img{
        width:376px; height:306px;
    }
    .m_storySl_s a>h3{
        line-height:38px; height:70px; overflow:hidden;
        font-size:27px;
    }

    .m_insight{
        padding:100px 0 0 30px; height:595px; width:1170px;
    }
    .m_insight:after{
        display:none;
    }

    .m_insightSl_m{
        width:720px;
    }
    .m_insightSl_m a{
        width:720px; height:357px;  padding-top:63px;
    }
    .m_insightSl_m a>h3{
        line-height:55px; width:350px;
        font-size:41px;
    }
    .m_insightSl_m a>p{
        margin-top:85px;
        font-size:15px;
    }
    .m_insightSl_m a>span{
        line-height:26px; width:300px;
        font-size:16px;
    }
    .m_insightSl_m a>img{
        width:370px; height:650px;
    }

    .m_insightSl_m .slick-prev{
        left:302px; 
    }
    .m_insightSl_m .slick-next{
        left:332px;
    }

    .m_insightSl_s{
        right:10px; width:385px; height:357px;
    }
    .m_insightSl_s .slick-slide{
        width:170px;
    }

    .m_insightSl_s a{
        width:170px;
    }
    .m_insightSl_s a>img{
        width:170px; height:240px;
    }
    .m_insightSl_s a>h3{
        margin-top:29px; line-height:25px; height:50px;
    }
    .m_insightSl_s a>h3:after{
        left:0; bottom:-28px; 
    }
    .m_insightSl_s a>span{
        width:170px; line-height:24px; margin-top:57px; height:45px;
        font-size:15px; 
    }

    .m_report{
        width:1200px;
    }
    .m_report .report_cont{
        width:calc(65% - 50px); padding:110px 0 0 50px;
    }

    .m_explore{
        padding:86px 0 105px 30px; width:1170px; 
    }
    .m_exploreSl .slick-prev{
        left:20px; z-index:80;
    }
    .m_exploreSl .slick-next{
        left:950px;
    }
    .m_explore .m_explore_paging{
        left:900px;
    }

    footer .f_go{
        width:1200px; 
    }
    .f_go_cont{
        width:1200px;
    }
    .f_go_cont1>ul{
        width:1180px; padding:50px 10px 50px;
    }
    .f_go_cont1>ul>li{
        width:590px;
    }

    .footer{
        width:1200px;
    }
    .footer .footerInner{
        width:1100px;
    }
}